[flake8]
max-line-length = 120
# List of glob patterns to include for checks
filename =
    *.py
ignore =
    # W503: line break before binary operator (flake8 is not PEP8 compliant)
    W503
    # W504: line break after binary operator (flake8 is not PEP8 compliant)
    W504
